@keyframes Blinking {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .animate-opacity {
    animation: Blinking 0.5s infinite; 
  }


  .animate-opacity2 {
    animation: Blinking 1s infinite; 
  }
  